docs/comparisons/6_kestra_demo.yaml
# Kestra Implementation of Demo Workflow
# Same as examples/demo - greeting followed by compliment
#
# Kestra is an open-source orchestration platform with:
# - Declarative YAML for workflows
# - UI for monitoring
# - Plugin system for different executors
#
# Installation:
#   docker run -p 8080:8080 kestra/kestra:latest server standalone
#
# Deploy:
#   # Upload via UI at http://localhost:8080
#   # Or use CLI: kestra flow namespace create demo-workflow 6_kestra_demo.yaml

id: demo_workflow
namespace: demo

tasks:
  - id: greet
    type: io.kestra.core.tasks.scripts.Python
    docker:
      image: python:3.11-slim
    script: |
      import time
      import json

      name = "Ork dev"
      delay = 5
      time.sleep(delay)
      message = f"Hello, {name}!"
      print(message)

      # Output for downstream tasks
      output = {"message": message, "timestamp": time.time()}
      print(f"::{{outputs}}::{json.dumps(output)}")

  - id: compliment
    type: io.kestra.core.tasks.scripts.Python
    docker:
      image: python:3.11-slim
    script: |
      import time
      import json

      # Access upstream output
      greet_output = {{outputs.greet.outputs}}
      message = greet_output['message']
      adjective = "ridiculously fast"

      time.sleep(5)
      line = f"{message} — you built Ork to be {adjective}!"
      print(line)

      output = {"line": line, "adjective": adjective}
      print(f"::{{outputs}}::{json.dumps(output)}")

  - id: shell_echo
    type: io.kestra.core.tasks.scripts.Bash
    script: |
      echo "Final: {{outputs.compliment.outputs.line}}"

# PROS:
# + Beautiful modern UI
# + Pure YAML with inline scripts
# + Plugin system (Python, Shell, dbt, SQL, etc)
# + Open source (self-hostable)
# + Can run tasks in Docker containers
# + Good for mixed-language workflows
# + Template expressions in YAML {{...}}
# + Cloud version available (Kestra Cloud)
#
# CONS:
# - Requires server (Docker/K8s)
# - Inline scripts get messy (mixing YAML and code)
# - Output format is magic strings (::{{outputs}}::)
# - ~45 lines for simple workflow
# - Less mature than Airflow/Prefect
# - Smaller community
# - Docker overhead for each task
