docs/comparisons/aws-step-functions/conditional_branching.json
{
  "StartAt": "CheckDataQuality",
  "States": {
    "CheckDataQuality": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:check_data_quality",
      "ResultPath": "$.qualityScore",
      "Next": "QualityBranch"
    },
    "QualityBranch": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.qualityScore",
          "NumericGreaterThan": 0.8,
          "Next": "ProcessHighQuality"
        }
      ],
      "Default": "CleanData"
    },
    "ProcessHighQuality": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:process_high_quality",
      "Next": "ProcessPartitions"
    },
    "CleanData": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:clean_data",
      "Next": "ProcessLowQuality"
    },
    "ProcessLowQuality": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:process_low_quality",
      "Next": "ProcessPartitions"
    },
    "ProcessPartitions": {
      "Type": "Map",
      "ItemsPath": "$.partitions",
      "MaxConcurrency": 3,
      "Iterator": {
        "StartAt": "ProcessPartition",
        "States": {
          "ProcessPartition": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:process_partition",
            "End": true
          }
        }
      },
      "ResultPath": "$.partitionResults",
      "Next": "CombineResults"
    },
    "CombineResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:combine_results",
      "InputPath": "$.partitionResults",
      "End": true
    }
  }
}
