docs/comparisons/aws-step-functions/data_pipeline.json
{
  "StartAt": "Extract",
  "States": {
    "Extract": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:extract",
      "ResultPath": "$.extractResult",
      "Next": "Transform"
    },
    "Transform": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:transform",
      "InputPath": "$.extractResult",
      "ResultPath": "$.transformResult",
      "Next": "Load"
    },
    "Load": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:load",
      "InputPath": "$.transformResult",
      "End": true
    }
  }
}
